<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Challenge 2</title>
</head>
<body>
  <div class="flex">    
    <div class="bg-sky-200 nav w-64 h-screen p-2">
      <ul>
        <li class="bg-sky-100">Dashboard</li>
        <li routerLink="/clients">Clients</li>
        <li routerLink="/products">Products</li>
        <li routerLink="/sales">Sales</li>
      </ul>
    </div>
    <div class="bg-stone-200 w-full h-screen p-2">
        Dashboard
    </div>
  </div>
</body>
</html>